.header{
    background-color: plum;
    display:flex;
    padding:30px 150px;
    justify-content: space-between;
    align-items: center;
}

.header nav{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header li{
    margin-right: 20px;
    color: rgb(54, 127, 156);
    font-size:1.3em;
}

.header a:hover{
    border-bottom: 1px solid rgb(54, 127, 156);
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction:column;
    }
    .header nav{
        flex-direction:column;
        align-items: center;
        margin-top: 20px;
    }
    .header li{
        margin-bottom: 10px;
    }
}